html {
    color: #050505;
}

body {
    background-color: #f2ca9d;
}

.container {
    margin: 0 15% 0 15%;
}

.hero {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0 0 20px 0;
    background-color: #31c3c4;
}

#headerTextOver {
    margin: -30px auto 20px auto;
}

#headerTextUnder {
    margin: -30px auto 20px auto;
    text-align: center;
}

#portrait {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: -70px auto 30px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#headerLine {
    margin: -30px 0 0 0;
    border: none;
    height: 30px;
    background-color: black;
}

.card-header {
    background-color: #2cb9cc;
}

.card-header-title {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card {
    background-color: #fff2d6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 350px;
}

.card-content {
    background-color: #fff2d6;
}

.personalInfo {
    font-size: 30px;
    font-size: 2vw;
}

h1 {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-weight: bolder;
}

h3 {
    font-weight: bolder;
}

h6 {
    font-weight: bolder;
}

.projectImage {
    width: 200px;
    height: 200px;
    justify-self: right;
}

.projectItem {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    background-color: #b7b3a1;
    margin: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr {
    border: 1px solid #89daff;
}

.button {
    background-color: #89daff;
}